<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="cnnString"
			 connectionString = "Data Source=PABLO-PC;Initial Catalog=HOTELERIA_BD;User ID=sa;password=sqlserver.2019;Integrated Security=SSPI;"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework, Version=v4.7.2" />
	</startup>
</configuration>